* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px 10px;
  background-color: rgb(240, 238, 238);
}

main {
  flex-grow: 1;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
.container {
  max-width: 1500px;
  margin: auto;
} */

.card-container {
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card {
  width: 100%;
  padding: 40px 20px;
  border: 2px solid rgb(240, 238, 238);
  border-radius: 10px;
}

button {
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  background-color: blueviolet;
  color: white;
  font-size: 13pt;
}

button.open {
  background-color: rgba(255, 192, 7);
  color: black;
}

button:hover {
  cursor: pointer;
}

p {
  margin-top: 20px;
}
